.GraficoCanalMedicion {
  margin-bottom: 16px;
}

.GraficoCanalMedicion__barra_superior {
  display: flex;
  justify-content: space-between;
}

.GraficoCanalMedicion__titulo {
  margin-bottom: 8px;
  font-size: .9em;
}

.GraficoCanalMedicion__grafico {
  background-color: black;
}
