.Medicion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Medicion__estado {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Medicion__visualizacion {
  flex: 1;
  display: flex;
}

.Medicion__graficos {
  flex: 2;
}