.Medicion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Medicion__titulo {
  font-size: 1.3em;
  margin-bottom: 8px;
}

.Medicion__configuracion {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: auto auto;
  max-width: 50vh;
  justify-items: left;
  align-items: baseline;
}

.Medicion__estado {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Medicion__visualizacion {
  flex: 1;
  display: flex;
}

.Medicion__graficos {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 32px;
}

.Medicion__boton_comenzar {
  display: flex;
  align-items: center;
  background-color: #b01f7e;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: .7em;
  border-radius: 4px;
}

.Medicion__boton_comenzar--grabando::after {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-left: 4px;
  background-color: red;
  border: 1px solid white;
  display: block;
  content: ' ';
  animation: grabando .5s ease-in-out alternate infinite both;
}

@keyframes grabando {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}