.Pacientes {
  display: flex;
  flex-direction: column;
}

.Pacientes__superior {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.Pacientes__titulo {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 16px;
}

.Pacientes__icono_nuevo_paciente {
  margin-right: 8px;
}

.Pacientes__link_nuevo_paciente {
  background-color: #b01f7e;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: .6em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.Pacientes__tabla_pacientes {
  flex: 1;
  font-size: .85em;
}

.Pacientes__tabla_pacientes_encabezado {
  border-bottom: 2px solid #BDBDBD;
  text-align: left;
  color: white;
  background-color: #FAFAFA;
  text-transform: uppercase;
}

.Pacientes__tabla_pacientes_celda_encabezado {
  padding: 16px 16px;
  color: #424242;
  font-weight: bold;
  letter-spacing: 1px;
}

.Pacientes__tabla_pacientes_celda {
  padding: 20px 16px;
  color: #424242;
}

.Pacientes__tabla_pacientes_fila {
  padding: 4px;
  border-bottom: 1px solid #E0E0E0;
}

.Pacientes__tabla_pacientes_fila:nth-child(even) {
  background-color: #FAFAFA;
}

.Pacientes__tabla_pacientes_icono {
  color: #b01f7e;
}