.Conexion__dispositivos {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
}

.contenedor-dispositivo {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 390px;
  height: 200px;
  justify-self: center;
  opacity: 0;
  border: 1px solid #3E5D58;
  animation: aparecer .5s ease-in-out forwards;
}

.contenedor-dispositivo .barra-superior {
  text-transform: uppercase;
  align-self: flex-start;
  background-color: #3E5D58;
  color: white;
  font-size: 12px;
  padding: 8px 16px;
  width: 100%;
  letter-spacing: 1.5px;
  border: 1px solid #3E5D58;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main-dispositivo {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.aside-dispositivo {
  width: 120px;
  padding: 16px;
  background-color: #A8D3C4;
  font-size: 12px;
}

.aside-dispositivo > .valor {
  margin-top: 10px;
  margin-bottom: -6px;
  font-size: 10px;
}

.aside-dispositivo > .valor:first-child {
  margin-top: 0;
}

.aside-dispositivo canvas {
  margin: 0;
  padding: 0;
}

.contenedor-mini-dispositivo {
  flex: 1;
  margin-left: 120px;
}

.Conexion__formulario_ip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Conexion__formulario_ip > input {
  margin-top: 4px;
  text-align: center;
}

.Conexion__formulario_ip > button {
  margin-top: 12px;
}

.cuaternion {
  font-size: .8em;
}

.Conexion__dispositivos_titulo {
  font-size: 1.2em;
  font-weight: bold;
  margin: 24px 0;
}