#contenedor-dispositivos {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
}

.contenedor-dispositivo {
  background-color: #A8D3C4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 200px;
  justify-self: center;
  opacity: 0;
  animation: aparecer .5s ease-in-out forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contenedor-mini-dispositivo {
  flex: 1;
}

.contenedor-dispositivo .mac {
  text-transform: uppercase;
  align-self: flex-start;
  background-color: #3E5D58;
  color: white;
  font-size: 12px;
  padding: 8px 8px;
  width: 100%;
}

#formulario-conexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulario-conexion > input {
  margin-top: 4px;
  text-align: center;
}

#formulario-conexion > button {
  margin-top: 12px;
}

.cuaternion {
  font-size: .8em;
}