.FichaPaciente {
  display: flex;
  flex-direction: column;
}

.FichaPaciente__contenedor_superior {
  display: flex;
  justify-content: space-between;
}

.FichaPaciente__titulo {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 16px;
}

.FichaPaciente__campos {
  display: grid;
  gap: 8px;
}

.FichaPaciente__contenedor_link_nueva_medicion {
  margin: 32px 0;
}

.FichaPaciente__link_nueva_medicion {
  background-color: #E53935;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
}
