.HistorialPaciente {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.HistorialPaciente__titulo {
  font-size: 1.1em;
  font-weight: bold;
}

.HistorialPaciente__tabla {
  margin-top: 16px;
  font-size: .8em;
}

.HistorialPaciente__celda {
  padding: 16px 8px;
}

.HistorialPaciente__encabezado {
  text-align: left;
  padding: 8px;
  color: #424242;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #BDBDBD;
}

.HistorialPaciente__fila {
  border-bottom: 1px solid #E0E0E0;
}

.HistorialPaciente__fila:nth-child(even) {
  background-color: #FAFAFA;
}

.HistorialPaciente__acciones {
  display: grid;
  justify-items: left;
  grid-template-columns: auto;
  gap: 8px;
}

.HistorialPaciente__icono_celda {
  cursor: pointer;
  color: #b01f7e;
}