.HistorialPaciente {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.HistorialPaciente__titulo {
  font-size: 1.1em;
  font-weight: bold;
}

.HistorialPaciente__tabla {
  margin-top: 8px;
  font-size: .8em;
}

.HistorialPaciente__celda {
  padding: 8px;
  border: 1px solid #424242;
}

.HistorialPaciente__encabezado {
  text-align: left;
  padding: 8px;
  color: white;
  background-color: #388E3C;
  border: 1px solid #424242;
}

.HistorialPaciente__acciones {
  display: grid;
  justify-items: center;
  grid-template-columns: auto;
  gap: 8px;
}

.HistorialPaciente__icono_celda {
  cursor: pointer;
  color: #3949AB;
}