.SeleccionPrueba__titulo {
  font-size: 1.3em;
  font-weight: bold;
}

.SeleccionPrueba__instrucciones {
  margin: 16px 0;
}

.SeleccionPrueba__contenedor_pruebas {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 24px;
}

.SeleccionPrueba__boton_prueba {
  background-color: #03A9F4;
  color: white;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SeleccionPrueba__boton_nueva_prueba {
  background-color: #F44336;
  color: white;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}