.SeleccionPrueba__contenedor_titulo {
  display: flex;
  align-items: center;
}

.SeleccionPrueba__titulo {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 8px;
}

.SeleccionPrueba__instrucciones {
  margin: 16px 0;
}

.SeleccionPrueba__contenedor_pruebas {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 24px;
}

.SeleccionPrueba__boton_prueba {
  background-color: #b01f7e;
  color: white;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  letter-spacing: 1px;
}

.SeleccionPrueba__boton_nueva_prueba {
  background-color: #38aa86;
  color: white;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  font-size: .8em;
  letter-spacing: 1px;
}

.SeleccionPrueba__icono_nueva_prueba {
  margin-right: 8px;
}